h2 {
    color: white;
}
h3 {
    color: red;
}

h4 {
    margin-left: 10px;
    color: white;
}

.listOuter {
    padding: 8%;
}

listouterOuter {
    
}
/* .listWrap {
    width: 55%;
    float: right;
    text-align: center;
    justify-content: center;
    display: grid;
} */