.Searchbar {
    width: 70vw;
    /* margin: 1px auto; */
    display: flex;
    align-items: center;
}

.Search-contain {
    display: flex;
    align-items: center;
    margin-left:50%;
    width: 50%;
    border: 1px solid gray;

}

.Search-contain > input {
    flex:1;
    border: none;
}

.Search {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px 0px 0px 2px;
    padding: 5px;
    background-color: #181818;
    width: 45vw;
}

.Search-button{
    width:50px !important;
    background-color: #726e6e;
    border-left: 1px solid rgb(175, 175, 175);
    border: none;
    color:rgb(231, 220, 220);
    border-left: none;
}

input, select, textarea{
    color: white;
}