.outerWrap{
    width: 50%;
    margin: 10vh auto;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 53%);
    grid-template-rows: repeat(2, 300px);
}

.cardBox {
    margin: 0 2vw;
}